# --- 编译产生的垃圾文件 ---
*.o
*.d
*.crf
*.htm
*.dep
*.lnp
*.axf
*.elf
*.hex
*.bin
*.build_log.htm
*.__i
*.lst
*.map

# --- 文件夹 ---
Listings/
Objects/
build/
Debug/
Release/

# --- VS Code 自动生成的配置 ---
.vscode/
